{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": ":sparkles: Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": ":bug: Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": ":memo: Documentation",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": ":zap: Code Refactoring",
              "hidden": false
            },
            {
              "type": "perf",
              "section": ":fast_forward: Performance Improvements",
              "hidden": false
            },
            {
              "type": "test",
              "section": ":white_check_mark: Testes",
              "hidden": false
            },
            {
              "type": "ci",
              "section": ":repeat: CI",
              "hidden": false
            },
            {
              "type": "chore",
              "hidden": true
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "docs/CHANGELOG.md"]
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    "@semantic-release/github"
  ]
}
